html,
body {
	background-color: #efeff4;
}
.user-logo {
	width: 80px;
	height: 80px;
	margin-right: 10px;
}
.mui-content-padded {
	margin-top: 20px;
}
.ui-login-form {
	border: solid 1px #ddd;
	border-radius: 5px;
	margin: 10px;
	overflow: hidden;
	background-color: #ddd;
}
.ui-login-form input {
	border: none;
	margin: 0px;
	font-size: 18px;
	padding: 15px !important;
	border-radius: 0px;
	height: auto;
}
.ui-login-form input {
	margin-bottom: 1px;
}
.mui-btn-block {
	padding: 12px 0px;
}
.mui-table-view:before {
	height: 0px;
}
.mui-table-view-cell:after{
	left: 0px;
}
icon {
	margin-right: 10px;
	color: #007AFF;
}

.mui-switch-custom:before{
	content: attr(data-off);
}

.mui-switch-custom.mui-active:before{
	content: attr(data-on);
}


.user-head{
	background: #D6E9C6;
	padding-top: 40px;
	padding-bottom: 20px;
}

.user-head .user-logo{
	width: 100%;
	height: 100%;
}

.messages{
	height: 100%;
}
.msg-text{
	width: 100%;
	
	margin-bottom: 0px !important;
	height: 40px !important;
	margin-top: 1px;
}
.custom-table{
	border: 0px;
}
.custom-table td{
	padding: 0px !important;
	border: 0px !important;
}




.span1,.span2,.span3,.span4,.span5,.span6,.span7,.span8,.span9,.span10{
	display: inline-block;
	margin: 0px;
	margin-left: -2px;
	padding: 0px;
	padding-left: 2px;
	border: 0px;
}

.span1{
	width: 10%;
}
.span2{
	width: 20%;
}
.span3{
	width: 30%;
}
.span4{
	width: 40%;
}
.span5{
	width: 50%;
}
.span6{
	width: 60%;
}
.span7{
	width: 70%;
}
.span8{
	width: 80%;
}
.span9{
	width: 90%;
}
.span10{
	width: 100%;
}


.messages{
	margin-bottom: 60px;
}
.talk{
	margin-top: 8px;
	padding-bottom: 5px; 
}

.talk{
	
}

.talk .user{
	width: 40px;
	height: 40px;
	text-align: center;
}
.talk .user img{
	width: 100%;
}
.talk-left .user{
	float: left;
	
}

.talk-right .user{
	float: right;
}

.talk .message{
	padding: 0px 10px;
}
.talk-left .message{
	margin-left: 40px;
	margin-right: 40px;
}

.talk-right .message{
	margin-right: 40px;
	margin-left: 40px;
	text-align: right;	
}
.talk-right .message .message-content{
	text-align: left;
}
.talk .message-content{
	border: 1px solid #1B6D85;
	background: #1B6D85;
	border-radius: 6px;
	padding: 10px;
	display: inline-block;
	position: relative;
	color: #FFFFFF;
	font-size: 16px;
}
.talk-left .message .message-content:before{
	position: absolute;	
	content:"\0";
	border: 8px solid ;
	border-color:transparent #1B6D85  transparent transparent; 
	width:0px;
	height:0px;
	left: -16px;
}

.talk-right .message .message-content:before{
	position: absolute;
	content:"\0";
	border: 8px solid ;
	border-color:transparent transparent  transparent #1B6D85; 
	width:0px;
	height:0px;
	right:-16px;
}

