html,
body {
	background-color: #efeff4;
}
.user-logo {
	width: 80px;
	height: 80px;
	margin-right: 10px;
}
.mui-content-padded {
	margin-top: 20px;
}
.ui-login-form {
	border: solid 1px #ddd;
	border-radius: 5px;
	margin: 10px;
	overflow: hidden;
	background-color: #ddd;
}
.ui-login-form input {
	border: none;
	margin: 0px;
	font-size: 18px;
	padding: 15px !important;
	border-radius: 0px;
	height: auto;
}
.ui-login-form input {
	margin-bottom: 1px;
}
.mui-btn-block {
	padding: 12px 0px;
}
.mui-table-view:before {
	height: 0px;
}
.mui-table-view-cell:after{
	left: 0px;
}
icon {
	margin-right: 10px;
	color: #007AFF;
}

.mui-switch-custom:before{
	content: attr(data-off);
}

.mui-switch-custom.mui-active:before{
	content: attr(data-on);
}






