@charset "UTF-8";

@import "compass";

@import "compass/reset";

@import "variable";
@import "mixin";
@import "icon";
@import "button";


html,body{
	font-size: 20px;
}

.mui-content{
	background-color: #fff;
}

a,.link{
	text-decoration: none;
	color: $active;
	&:hover,
	&:active{
		color: $active;
	}
}